@model WebApplicationMVC.Models.User

<h1>
    @Model.Id
</h1>

<h1>
    @Model.FirstName
</h1>

<h1>
    @Model.LastName
</h1>

<h1>
    @Model.Age
</h1>

@*@ViewBag.RandomNumber*@

@*@using System.Collections.Generic
    @model List<string>

    @foreach (var name in Model)  //Loop through the list
    {
        <h1>
            @name
        </h1>
    }*@

@*@model int
    <h1>
        @Model
    </h1>*@